<div class="navbar navbar-expand-lg navbar_light bg_light mb-4">
  <div class="container">
    <a class="navbar-brand" href="{{{siteRootPath}}}/">
      <img src="{{{uiRootPath}}}/img/peppol-logo.png" height="30" class="d-inline-block align-top" alt="Peppol" style="width: inherit !important; height: 30px !important; vertical-align: top !important;">
      Peppol Specifications for Taiwan implementation of PINT
    </a>
  </div>
</div>
